<div class="card" style="width: 18rem;" *ngIf="!showTable && !showStateTable">
  <div class="card-body">
    <h5 class="card-title">Stat-Covid</h5>
    <hr>
    <p class="card-text">Get quick Stats for Covid-19 in India</p>
    <hr>
    <p>Your State : {{currentState.name}}</p>
    <p>Total Cases : {{currentState.total}}</p>
    <p>Confirmed : {{currentState.confirmed}}</p>
    <p>Cured : {{currentState.cured}}</p>
    <p>Death : {{currentState.death}}</p>
    <ngb-progressbar type="warning" textType="dark" [value]="100" height="2rem">Total</ngb-progressbar>
    <ngb-progressbar type="dark" textType="white" [value]="currentStatePercentage.confirmed" height="2rem">Confirmed</ngb-progressbar>
    <ngb-progressbar type="success" textType="white" [value]="currentStatePercentage.cured" height="2rem">Cured</ngb-progressbar>
    <ngb-progressbar type="danger" textType="white" [value]="currentStatePercentage.death" height="2rem">Death</ngb-progressbar>
    <hr>
    <a href="#" class="btn btn-primary" (click)="getDetails()">Get All Stats</a>
    <br/><br/>
    <label for="typeahead-basic">Search by state</label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="stateName" [ngbTypeahead]="search"/>
    <a href="#" class="btn btn-primary" (click)="getDetailsByState()" style="margin-top: 2%;">Search</a>
</div>
</div>

<div *ngIf="showTable || showStateTable" style="margin-top: 1%">
  <button class="container-fluid align-items-center align-content-center btn btn-primary" (click)="toggleShowTable()">Search Again</button>
</div>

<form *ngIf="showTable" class="container-fluid" style="margin-top: 2%">
  <div class="form-group">
    <input class="form-control ml-2" name="searchBar" type="text" [(ngModel)]="searchText" placeholder="Search Anything"/>
  </div>
</form>

<table class="table" *ngIf="showTable" style="margin-top: 4%">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Total</th>
    <th scope="col" style="color: blue">Confirmed</th>
    <th scope="col" style="color: green">Cured</th>
    <th scope="col" style="color: red">Death</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let state of state | category: searchText; let index=index;">
    <th scope="row">{{index+1}}</th>
    <td>{{state.name}}</td>
    <td>{{state.total}}</td>
    <td>{{state.confirmed}}</td>
    <td>{{state.cured}}</td>
    <td>{{state.death}}</td>
  </tr>
  </tbody>
</table>



<div class="card" style="width: 18rem;" *ngIf="showStateTable">
  <div class="card-body">
    <h5 class="card-title">Stat-Covid</h5>
    <hr>
    <p class="card-text">Get quick Stats for Covid-19 in India</p>
    <hr>
    <div *ngFor="let state of state; let index=index">
      <p>Your State : {{state.name}}</p>
      <p>Total Cases : {{state.total}}</p>
      <p>Confirmed : {{state.confirmed}}</p>
      <p>Cured : {{state.cured}}</p>
      <p>Death : {{state.death}}</p>
    </div>
    <div>
      <ngb-progressbar type="warning" textType="dark" [value]="100" height="2rem">Total</ngb-progressbar>
      <ngb-progressbar type="dark" textType="white" [value]="singleState.confirmed" height="2rem">Confirmed</ngb-progressbar>
      <ngb-progressbar type="success" textType="white" [value]="singleState.cured" height="2rem">Cured</ngb-progressbar>
      <ngb-progressbar type="danger" textType="white" [value]="singleState.death" height="2rem">Death</ngb-progressbar>
    </div>
    <hr>
  </div>
</div>


